@charset "utf-8";
.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: skyblue;
    height: 90vh;
}
.item {
    background: #0bd;
    color: #fff;
    margin: 10px;
    padding: 10px;
}